*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

ul{
    list-style: none;
}

.home{
    display: flex;
    justify-content: start;
}

.sideBar{
    background-color: #121212;
    width: 17%;
    min-height: 100vh;
    color: #57ACDC;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.brandName{
    margin: 30px 0;
    color: #57ACDC;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brandName h2{
    padding: 5px;
}

.addFolder{
    background-color: #57ACDC;
    border: none;
    border-radius: 50px;
    color: white;
    padding: 7px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin: 20px 0;
}

.addFolder span{
    padding: 0 5px;
}

.links{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.links li{
    color: #939393;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.links li a{
    color: #939393;
    display: flex;
    align-items: center;
    justify-content: start;
}

.links li a span{
    padding: 5px;
}

.links li.active a{
    color: #57ACDC;
    position: relative;
}

.active::before{
    content: '';
    width: 7px;
    height: 100%;
    position: absolute;
    background-color: #57ACDC;
    top: 0;
    left: 0;
    border-radius: 0px 5px 5px 0px;
}

hr{
    width: 100%;
    background: #1E1E1E;
    height: 2px;
    border: none;
    margin: 20px 0;
}

@property --pgPercentage {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
}

div[role="progressbar"] {
    --size: 8rem;
    --fg: #57ACDC;
    --bg: #121212;
    --pgPercentage: var(--value);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: radial-gradient(closest-side,  #1E1E1E 80%, transparent 0 111%, #1E1E1E 0), conic-gradient(var(--fg) calc(var(--pgPercentage)* 1%), var(--bg) 0);
    font-family: Helvetica, Arial, sans-serif;
    font-size: calc(var(--size) / 5);
    color: var(--fg);
}

div[role="progressbar"]::before {
    counter-reset: percentage var(--value);
    content: counter(percentage) '%';
}

.storage .title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    color: #939393;
}

.storage .title span{
    padding: 0 10px 0 ;
}

.progress{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #1E1E1E;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.progress span{
    padding: 10px 0;
    color: #939393;
}

.content{
    background-color: #1E1E1E;
    width: 83%;
    min-height: 100vh;
    padding: 30px;
    color: #939393;
}

.head{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.first{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.head form{
    width: 50%;
}

.dragDrop{
    border: 1px #939393;
    border-style: dashed;
    padding: 5px 15px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.dragDrop a{
    color: #57ACDC;
    text-decoration: underline;
}

.dragDrop span{
    padding: 5px;
}

.head form{
    width: 50%;
    margin: 0 10px;
}

.head input{
    background-color: transparent;
    border: none;
    outline: none;
    width: 90%;
    margin: 0 5px;
    color: #FAFAFA;
}

.searchInput{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: transparent;
    padding: 5px;
    border: 1px solid #939393;
    border-radius: 10px;
    width: 100%;
}

.name{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0 10px;
}

.name h3{
    color: #FAFAFA;
}

.content hr{
    background-color: #FAFAFA1A;
    margin: 0;
}

.tableCap{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.tableCap div:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.tableCap div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tableCap div:nth-child(2) div:nth-child(1){
    border-left: 1px solid #FAFAFA1A;
    border-right: 1px solid #FAFAFA1A;
}

table{
    width: 100%;
    border-spacing: 0px;
    border: none;
    border-collapse: collapse;
    text-align: left;
    color: #FAFAFAB2;
}

tbody{
    overflow: scroll;
}

table thead tr{
    background-color: #171717;    
}

table thead tr th,table tbody tr td{
    padding: 10px;
}

thead tr th:nth-child(5){
    position: relative;
}

thead tr th:nth-child(5) svg{
    position: absolute;
    right: 5px ;
}

table tbody tr:nth-child(even){
    background-color: #8B8B8B0F;
}

td:first-child,
th:first-child {
  border-radius: 10px 0 0 10px;
}

td:first-child> div,
th:first-child> div{
    display: flex;
    align-items: center;
    justify-content: left;
}

td:first-child> div div,
th:first-child> div div{
    margin-left: 35px;
    margin-left: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

td:first-child>div div.viewed::before{
content: '';
position: absolute;
left: -8px;
top: 50%;
transform: translate(-50%,-50%);
background-color: #57ACDC;
width: 8px;
height: 8px;
border-radius: 50%;
}

td:first-child div span,
th:first-child div span{
    padding: 0 5px;
    color: #FAFAFA;
}

td:last-child,
 th:last-child {
  border-radius: 0 10px 10px 0 !important;
}

td img{
    width: 30px;
    height: 30;
    border-radius: 4px;
}

label.container {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

label.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: -10;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 1px solid #939393;
    border-radius: 4px;
}

.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

label.container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 2px;
    height: 6px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

label.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

label.container svg:nth-child(2){
    margin: 0 10px;
}

.overflow{
    overflow: scroll;
    height: 80vh;
    width: 100%;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #171717;
    border-radius: 20px;
}

::-webkit-scrollbar-corner{
    background-color: #171717;
    width: 0;
}